@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#wrap {width:100%;z-index: 3;position: relative;}
#wrap .loading-wrap {z-index:4;position:fixed;top:0;left:0;width:100%;height:100vh;overflow:hidden;opacity: 0;}
#wrap .loading-wrap .loading-bg {z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;}
#wrap .loading-wrap  .all {z-index:2;width: 500px;height: 500px;position: absolute;top: calc(50% - 250px);left: calc(50% - 250px);transform: scale(0.5);filter: url('#goo');}
#wrap .loading-wrap .container, 
#wrap .loading-wrap .loader {width: 400px;height: 400px;position: absolute;top: calc(50% - 200px); left: calc(50% - 200px);  transform-origin: center;}
#wrap .loading-wrap .circle, .loading-wrap .loader .load-circle {width: 80px;height: 80px;  position: absolute;background-color: lightblue;left: calc(50% - 40px);border-radius: 50px;}
#wrap .loading-wrap .container:nth-child(2) {transform: rotate(45deg);}
#wrap .loading-wrap .container:nth-child(3) {transform: rotate(90deg);}
#wrap .loading-wrap .container:nth-child(4) {transform: rotate(135deg);}
#wrap .loading-wrap .container:nth-child(5) {transform: rotate(180deg);}
#wrap .loading-wrap .container:nth-child(6) {transform: rotate(225deg);}
#wrap .loading-wrap .container:nth-child(7) {transform: rotate(270deg);}
#wrap .loading-wrap .container:nth-child(8) {transform: rotate(315deg);}
#wrap .loading-wrap .loader {transform-origin: center;animation: anim 4s infinite ease-in-out;}
#wrap .loading-wrap .loader .load-circle {width: 60px;height: 60px;top: 20px;}
 @keyframes anim {
   0% {transform: rotate(0deg);}
   100% {transform: rotate(360deg);}
 }
/* header */
#wrap #header {z-index:3;position:fixed;top:7%;left:0;width:100%;}
#wrap #header .wrap {width:100%;margin:0 auto;}
#wrap #header .wrap .gap {margin:0;}
#wrap #header .wrap .gap .container {width:100%;text-align:center;position: relative;}
#wrap #header .wrap .gap .container nav{position: absolute;right: 0;left: 0;width: 319px;display: table;margin: 0 auto;}
#wrap #header .wrap .gap .container nav a {position: relative;width: 25%;display: table-cell;text-align: center;color: #949494;font-size:20px;font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight: bold;padding: 10px 20px;transition: 0.2s ease color;}
#wrap #header .wrap .gap .container nav #indicator{position: absolute;left: 5%;bottom: 0;width: 40px;height: 5px;background-color: #fff;border-radius: 5px;transition: 0.2s ease left;}
#wrap #header .wrap .gap .container nav a:hover{color: #fff;-webkit-text-stroke: 0.8px #000; }
#wrap #header .wrap .gap .container nav a.active{color: #fff;-webkit-text-stroke: 0.8px #000;}
#wrap #header .wrap .gap .container nav a.active:nth-child(1) ~ #indicator{background: linear-gradient(130deg, purple, palevioletred);}
#wrap #header .wrap .gap .container nav a.active:nth-child(2) ~ #indicator{left: 25%;background: linear-gradient(130deg, purple, palevioletred);}
#wrap #header .wrap .gap .container nav a.active:nth-child(3) ~ #indicator{left: 50%;background: linear-gradient(130deg, purple, palevioletred);}
#wrap #header .wrap .gap .container nav a.active:nth-child(4) ~ #indicator{left: 75%;background: linear-gradient(130deg, purple, palevioletred);}
#wrap #header .wrap .gap .container nav a:nth-child(1):hover ~ #indicator{background: linear-gradient(130deg, purple, palevioletred);}
#wrap #header .wrap .gap .container nav a:nth-child(2):hover ~ #indicator{left: 25%;background: linear-gradient(130deg, purple, palevioletred);}
#wrap #header .wrap .gap .container nav a:nth-child(3):hover ~ #indicator{left: 50%;background: linear-gradient(130deg, purple, palevioletred);}
#wrap #header .wrap .gap .container nav a:nth-child(4):hover ~ #indicator{left: 75%;background: linear-gradient(130deg, purple, palevioletred);}

#wrap #main {width:100%;}
/* section1 */
#wrap #main #section1 {width:100%;height:100%;}
.cta-link {margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;background: transparent;text-decoration: none;color: #2c9ab7}
.cta-link:hover {text-decoration: underline}
#master {font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;font-size: 60px;line-height: 1;font-weight: bold;letter-spacing: 0;}
#master {text-rendering: optimizeLegibility}
#master-container {background-color: #F5C59C;animation: master-container-bg 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;display: flex;align-items: center;justify-content: center;height:1090px;min-height: 0;max-height: 100%;}
#master-container .content {height: auto;margin-left: inherit;margin-right: inherit}

@media screen and (max-width: 615px) {
  #master-container {
      animation: master-container-bg-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
  }
}

@media screen and (max-width: 615px) {
  #master {
      font-size: 40px;
  }
}

#master-container-scroller {height: 66px;margin-bottom: -6px;overflow: hidden;position: relative}

#master-container-scroller .master-container-scroller_item {display: block;padding-bottom: 6px;animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite}

#master-container-scroller .master-container-scroller_item[href]:hover {text-decoration: underline}

#master-container-scroller .master-container-scroller_item:nth-child(1),
#master-container-scroller .master-container-scroller_item:nth-child(1) a {color: #E65F48}

#master-container-scroller .master-container-scroller_item:nth-child(2),
#master-container-scroller .master-container-scroller_item:nth-child(2) a {color: #E65F48}

#master-container-scroller .master-container-scroller_item:nth-child(3),
#master-container-scroller .master-container-scroller_item:nth-child(3) a {color: #76BCAD}

#master-container-scroller .master-container-scroller_item:nth-child(4),
#master-container-scroller .master-container-scroller_item:nth-child(4) a {color: #84719f}

#master-container-scroller .master-container-scroller_item:nth-child(5),
#master-container-scroller .master-container-scroller_item:nth-child(5) a {color: #d47787}

#master-container-scroller .master-container-scroller_item:nth-child(6),
#master-container-scroller .master-container-scroller_item:nth-child(6) a {color: #F09551}

#master-container-scroller .master-container-scroller_item:nth-child(7),
#master-container-scroller .master-container-scroller_item:nth-child(7) a {color: #349AB5}

#master-container-scroller .master-container-scroller_item:nth-child(8),
#master-container-scroller .master-container-scroller_item:nth-child(8) a {color: #e86042}

#master-container-scroller .master-container-scroller_item:nth-child(9),
#master-container-scroller .master-container-scroller_item:nth-child(9) a {color: #74bcae}

#master-container-scroller .master-container-scroller_item:nth-child(10),
#master-container-scroller .master-container-scroller_item:nth-child(10) a {color: #E65F48}

@media screen and (max-width: 615px) {
  #master-container-scroller {height: 48px;line-height: 1.2;margin-bottom: 0}
  #master-container-scroller .master-container-scroller_item {
      padding-bottom: 0;animation: scroll-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite}
}


@keyframes master-container-bg {
  0.0% {background-color: #F5C59C}
  3.7037037037037037% {background-color: #F5C59C}
  11.11111111111111% {background-color: #ECC9CB}
  14.814814814814815% {background-color: #ECC9CB}
  22.22222222222222% {background-color: #D9E2CB}
  25.925925925925927% {background-color: #D9E2CB}
  33.333333333333336% {background-color: #f6c599}
  37.03703703703704% {background-color: #f6c599}
  44.44444444444444% {background-color: #c4bbd3}
  48.148148148148145% {background-color: #c4bbd3}
  55.55555555555556% {background-color: #F9E7AF}
  59.25925925925926% {background-color: #F9E7AF}
  66.66666666666667% {background-color: #B4E2EE}
  70.37037037037037% {background-color: #B4E2EE}
  77.77777777777777% {background-color: #cbe5f4}
  81.48148148148148% {background-color: #cbe5f4}
  88.88888888888889% {background-color: #d2e7e2}
  92.5925925925926% {background-color: #d2e7e2}
  100.0% {background-color: #F5C59C}
}
@keyframes master-container-bg-mobile {
  0.0% {background-color: #F5C59C}
  3.7037037037037037% {background-color: #F5C59C}
  11.11111111111111% {background-color: #ECC9CB}
  14.814814814814815% {background-color: #ECC9CB}
  22.22222222222222% {background-color: #D9E2CB}
  25.925925925925927% {background-color: #D9E2CB}
  33.333333333333336% {background-color: #f6c599}
  37.03703703703704% {background-color: #f6c599}
  44.44444444444444% {background-color: #c4bbd3}
  48.148148148148145% {background-color: #c4bbd3}
  55.55555555555556% {background-color: #F9E7AF}
  59.25925925925926% {background-color: #F9E7AF}
  66.66666666666667% {background-color: #B4E2EE}
  70.37037037037037% {background-color: #B4E2EE}
  77.77777777777777% {background-color: #cbe5f4}
  81.48148148148148% {background-color: #cbe5f4}
  88.88888888888889% {background-color: #d2e7e2}
  92.5925925925926% {background-color: #d2e7e2}
  100.0% {background-color: #F5C59C}
}


@keyframes scroll {
  0.0% {transform: translateY(0px)}
  3.7037037037037037% {transform: translateY(0px)}
  11.11111111111111% {transform: translateY(-66px)}
  14.814814814814815% {transform: translateY(-66px)}
  22.22222222222222% {transform: translateY(-132px)}
  25.925925925925927% {transform: translateY(-132px)}
  33.333333333333336% {transform: translateY(-198px)}
  37.03703703703704% { transform: translateY(-198px)}
  44.44444444444444% {transform: translateY(-264px)}
  48.148148148148145% {transform: translateY(-264px)}
  55.55555555555556% {transform: translateY(-330px)}
  59.25925925925926% {transform: translateY(-330px)}
  66.66666666666667% {transform: translateY(-396px)}
  70.37037037037037% {transform: translateY(-396px)}
  77.77777777777777% {transform: translateY(-462px)}
  81.48148148148148% {transform: translateY(-462px)}
  88.88888888888889% {transform: translateY(-528px)}
  92.5925925925926% {transform: translateY(-528px)}
  100.0% {transform: translateY(-594px)}
}

@keyframes scroll-mobile {
  0.0% {transform: translateY(0px)}
  3.7037037037037037% {transform: translateY(0px)}
  11.11111111111111% {ransform: translateY(-48px)}
  14.814814814814815% {transform: translateY(-48px)}
  22.22222222222222% {transform: translateY(-96px)}
  25.925925925925927% {transform: translateY(-96px)}
  33.333333333333336% {transform: translateY(-144px)}
  37.03703703703704% {transform: translateY(-144px)}
  44.44444444444444% {transform: translateY(-192px)}
  48.148148148148145% {transform: translateY(-192px)}
  55.55555555555556% {transform: translateY(-240px)}
  59.25925925925926% {transform: translateY(-240px)}
  66.66666666666667% {transform: translateY(-288px)}
  70.37037037037037% {transform: translateY(-288px)}
  77.77777777777777% {transform: translateY(-336px)}
  81.48148148148148% {transform: translateY(-336px)}
  88.88888888888889% {transform: translateY(-384px)}
  92.5925925925926% {transform: translateY(-384px)}
  100.0% {ransform: translateY(-432px)}
}

/* section2 */
#section2 .episode01 .wrap .episode__text h4 {text-align: center;font-size: 40px;line-height: 1.25;margin: 44px 0 40px;font-weight: 600;letter-spacing: 2px;}
#section2 .episode01 .wrap .episode__text p {text-align: center;max-width: 550px;padding-bottom: 40px;font-size: 14px;line-height: 2.1333;margin: 0 auto;font-weight: 500;letter-spacing: 2px;}
#section2 .episode01 .wrap .episode__text p .underline {line-height: 0.5em;vertical-align: 0.5em;border-bottom: 12px solid transparent;border-image: linear-gradient(to right, #FAFAD2 0%, #FFC653 100%);border-image-slice: 1;}
#section2 .episode01 .wrap .episode__text p .underline span {vertical-align: -0.4em;}
#section2 .episode01 .wrap .episode__text .list li .item small {font-size: 18px;font-weight: 500;line-height: 1.4; }

/* section3 */
#section3 .episode {margin: 200px 0 0; }
#section3 .episode .wrap {padding: 0 120px;margin: 0 auto; }
#section3 .episode .wrap .skill_thumb {width: 37.5%;height: 100vh;background: #4D76A4;position: absolute;top: 0;left: 0; }
#section3 .episode .wrap .skill_thumb.right {left: auto;right: 0; }
#section3 .episode .wrap .skill_thumb.right.fixed {left: auto;right: 0; }
#section3 .episode .wrap .skill_thumb.fixed {position: fixed;top: 0;left: 0; }
#section3 .episode .wrap .skill_thumb.bottom {top: auto;bottom: 0; }
#section3 .episode .wrap .skill_thumb .box {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); }
#section3 .episode .wrap .skill_thumb .box .text {text-align: center;position: relative;z-index: +1; }
#section3 .episode .wrap .skill_thumb .box .text strong {display: block;font-size: 70px;font-size: 7rem;margin: 10px 0 0;white-space: nowrap;font-family: "new-spirit-condensed", serif;font-weight: 400;line-height: 0.9;letter-spacing: -0.03em; }
#section3 .episode .wrap .skill_thumb .box .img {width: 200px;margin: -30px auto;position: relative;}
/* #section3 .episode .wrap .skill_thumb .box .img::after {content: '';position: absolute;width: 100%;height: 100%;top: 20px;right: -20px;background: #B8D7FF;z-index: -1;} */
#section3 .episode .wrap .skill_thumb .box .number-box {position: relative;margin: 0 auto; }
#section3 .episode .wrap .skill_thumb .box .number-box strong {font-size: 120px;opacity: 1; }
#section3 .episode .wrap .skill_thumb .box .number-box strong:after {width: 97%;}

#section3 .episode .wrap .skill_text {width: 53.8%;padding: 50px 0 0; }
#section3 .episode .wrap .skill_text.right {margin-left: auto;}
#section3 .episode .wrap .skill_text .number-box {margin: 0 auto 0;height: 136px; }
#section3 .episode .wrap .skill_text .number-box strong {font-size: 120px;}
#section3 .episode .wrap .skill_text h4 {text-align: center;font-size: 48px;line-height: 1.25;margin: 44px 0 40px;font-weight: 700;letter-spacing: 0.02em; }
#section3 .episode .wrap .skill_text p {text-align: center;font-size: 15px;line-height: 2.1333;max-width: 400px;margin: 0 auto;font-weight: 500; }
#section3 .episode .wrap .skill_text p .underline {line-height: 0.5em;vertical-align: 0.5em;border-bottom: 12px solid transparent;border-image: linear-gradient(to right, #C8FFFF 0%, #87CEFA 100%);border-image-slice: 1;}
#section3 .episode .wrap .skill_text p .underline span {vertical-align: -0.4em;}
#section3 .episode .wrap .skill_text .list {margin: 95px 0 0; }
#section3 .episode .wrap .skill_text .list li {border-top: 1px solid #D6D6D6; }
#section3 .episode .wrap .skill_text .list li a {padding: 45px 0 50px;display: block;position: relative;z-index: 1; }
#section3 .episode .wrap .skill_text .list li a .text {pointer-events: none;position: absolute;top:25%;right:0;z-index: 1; }
#section3 .episode .wrap .skill_text .list li:first-child a .text {position: absolute;top:35%;right:0;}
#section3 .episode .wrap .skill_text .list li:nth-child(4) a .text {position: absolute;top:35%;right:0;}
#section3 .episode .wrap .skill_text .list li:last-child a .text {position: absolute;top:15%;right:0;}
#section3 .episode .wrap .skill_text .list li a.is-active {z-index: 2;}
#section3 .episode .wrap .skill_text .list li a.is-active .text {transform: translate(20px, 0); }
#section3 .episode .wrap .skill_text .list li .item h5 {font-size: 28px;line-height: 134%;max-width:540px;letter-spacing:3px;font-weight:500; }
#section3 .episode .wrap .skill_text .list li:last-of-type {border-bottom: 1px solid #D6D6D6;}
#section3 .episode .wrap .skill_text .list li:last-of-type {border-bottom: 1px solid #D6D6D6;}
#section3 .episode .wrap .skill_text .list li a #svgWrap {width:100%;height:100%;margin:0 auto;position:relative;}
#section3 .episode .wrap .skill_text .list li a #svgWrap svg {width:20%;height:20%;position:relative;z-index:1;}
#section3 .episode .wrap .skill_text .list li a #svgWrap svg .circle {fill:none;stroke-width:40;stroke-miterlimit:10;stroke-linecap:round;}
#section3 .episode .wrap .skill_text .list li a #svgWrap svg .circle1 {stroke:#4169E1;}
#section3 .episode .wrap .skill_text .list li a #svgWrap svg .circle2 {stroke:#5F87E1;}
#section3 .episode .wrap .skill_text .list li a #svgWrap svg .circle3 {stroke:#87AFEB;}
#section3 .episode .wrap .skill_text .list li a #svgWrap svg .circle4 {stroke:#A0D1F7;}
#section3 .episode .wrap .skill_text .list li a #svgWrap svg .circle5 {stroke:#CDECFA;}
#section3 .episode .wrap .skill_text .list li a #svgWrap .number{z-index:2;position:absolute;top:100%;left:0;width:20%;height:20%;text-align:center;font-size:20px;color:#000;font-weight:700;}
#section3 .episode .wrap .skill_text .list li a #svgWrap .skill_name{z-index:2;position:absolute;top:40%;left:0;width:20%;height:20%;text-align:center;font-size:20px;color:#000;font-weight:700;}

.episode {position: relative; }
.number-box {text-align: center;width: 160px;height: 161px;overflow: hidden; }
.number-box.is-active strong em {transform: translate(0, 0);opacity: 1; }
.number-box.is-active strong:after {width: 97%; }
.number-box small {font-size: 12px;font-size: 1.2rem;display: block;font-family: "neue-haas-grotesk-text", sans-serif;font-weight: 400;margin: 0 0 22px; }
.number-box strong {font-size: 170px;font-size: 17rem;display: inline-block;line-height: 0.82;font-family: "new-spirit-condensed", serif;font-weight: 400;transition: .8s; }
.number-box strong em {transform: translate(0, 100%);opacity: 0;display: inline-block;transition: .8s ease-in-out;transition-delay: 0s; }
.number-box strong:after {content: "";width: 0px;height: 3px;display: block;background: #000;margin: 0;transition: .4s ease-in-out;position: relative;left: 3px; }

/* section4 */
.imac {padding: 4% 6%;margin: 0 auto;max-width: 620px;}
.screen {background: #000;border-radius: 3% 3% 0 0 / 5% 5% 0 0;position: relative;width: 100%;}
.screen:before {content: "";display: block;padding-top: 60%;}
.logo {background: linear-gradient(90deg, #A6A6AA, #E1E2E4);border-radius: 0 0 3% 3%/ 0 0 33.33% 33.33%;position: relative;width: 100%;}
.logo:before {content: "";display: block;padding-top: 9%;}
.logo:after {content: "";background: url("../img/logo.svg");left: 50%;margin-left: -2.4%;position: absolute;top: 20%;width: 4.8%;padding-top: 4.8%;}
.viewport {position: absolute;bottom: 0;left: 0;right: 0;top: 0;margin: 4%;background: #333;}
.leg {margin: 0 auto;position: relative;width: 20%;}
.leg:before {content: "";display: block;padding-top: 46%;background: linear-gradient(#7a7b80, #abacaf 26%, #d0d1d2 57%, #f2f2f2 76%, #e4e4e4 84%, #787878);}
.foot {position: relative;width: 20%;margin: 0 auto;perspective: 180px;}
.foot:before {
  content: "";
  display: block;
  padding-top: 40%;
  transform: rotateX(68deg);
  transform-origin: center top;
  background: linear-gradient(#7b7b7b, #7f7f7f 39%, #a6a6a6 53%, #ccc 67%, #aaa 86%, #eee 88%, #fff 95%, #a9a9a9 95%, #000);
  border-radius: 0 0 10% 10% / 0 0 30% 30%;
  box-shadow: 0 -10px 5px rgba(255, 255, 255, 0.1) inset, 0 -17px 6px rgba(0, 0, 0, 0.1) inset;
}
    
/* Screenshot Hover Scroll Additions*/
.imac .viewport {transition: background-position 3s ease;background-position: 0 0;background-size: 100% auto;overflow: hidden;cursor: pointer;}
.imac:hover .viewport {background-position: 0 100%;}
.imac .viewport:after {
  background: radial-gradient(circle at right bottom, transparent 75%, rgba(255, 255, 255, 0.05) 75%, transparent);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.recommends {padding: 200px 0 100px; }
.inner3 {padding: 0 160px;margin: 0 auto; }
.ttl03 {text-align: center; }
.ttl03 span {font-size: 8vw;display: block;font-family: "new-spirit-condensed", serif;font-weight: 400;margin: 0 0 10px;width: 100%;height:12vw;overflow: hidden;letter-spacing: -0.02em; }
.ttl03 span em {transform: translate(0, 100%);opacity: 0;display: inline-block;transition: .8s; }
.ttl03.is-active span em {transform: translate(0, 0);opacity: 1; }

.number-box {text-align: center;width: 160px;height: 161px;overflow: hidden; }
.number-box.is-active strong em {transform: translate(0, 0);opacity: 1; }
.number-box.is-active strong:after {width: 97%; }
.number-box small {font-size: 12px;font-size: 1.2rem;display: block;font-family: "neue-haas-grotesk-text", sans-serif;font-weight: 400;margin: 0 0 22px; }
.number-box strong {font-size: 170px;font-size: 17rem;display: inline-block;line-height: 0.82;font-family: "new-spirit-condensed", serif;font-weight: 400;transition: .8s; }
.number-box strong em {transform: translate(0, 100%);opacity: 0;display: inline-block;transition: .8s ease-in-out;transition-delay: 0s; }
.number-box strong:after {content: "";width: 0px;height: 3px;display: block;background: #000;margin: 0;transition: .4s ease-in-out;position: relative;left: 3px; }

.episode {position: relative; }
.episode__thumb {width: 37.5%;height: 100vh;background: #FFC653;position: absolute;top: 0;left: 0; }
.episode__thumb.right {left: auto;right: 0; }
.episode__thumb.right.fixed {left: auto;right: 0; }
.episode__thumb.fixed {position: fixed;top: 0;left: 0; }
.episode__thumb.bottom {top: auto;bottom: 0; }
.episode__thumb .box {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); }
.episode__thumb .box .text {text-align: center;position: relative;z-index: +1; }
.episode__thumb .box .text small {font-size: 10px;font-size: 1rem;line-height: 2;font-weight: 500; }
.episode__thumb .box .text strong {display: block;font-size: 70px;font-size: 7rem;margin: 10px 0 0;white-space: nowrap;font-family: "new-spirit-condensed", serif;font-weight: 400;line-height: 0.9;letter-spacing: -0.03em; }
.episode__thumb .box .img {width: 250px;margin: -30px auto;position: relative; }
.episode__thumb .box .number-box {position: relative;margin: 0 auto; }
.episode__thumb .box .number-box strong {font-size: 120px;font-size: 12rem;opacity: 1; }
.episode__thumb .box .number-box strong:after {width: 97%; }
.episode #thum03 {background: #F39CA5; }
.episode__text {width: 53.8%;padding: 50px 0 0; }
.episode__text .number-box {margin: 0 auto 0;height: 136px; }
.episode__text .number-box strong {font-size: 120px;font-size: 12rem; }
.episode__text h4 {text-align: center;font-size: 48px;font-size: 4.8rem;line-height: 1.25;margin: 44px 0 40px;font-weight: 700;letter-spacing: 0.02em; }
.episode__text p {text-align: center;font-size: 15px;font-size: 1.5rem;line-height: 2.1333;max-width: 360px;margin: 0 auto;font-weight: 500; }
.episode__text .list {margin: 95px 0 0; }
.episode__text .list li {border-top: 1px solid #D6D6D6; }
.episode__text .list li a {padding: 45px 0 50px;display: block;position: relative;z-index: 1; }
.episode__text .list li a .text {display: -webkit-flex;display: flex;-webkit-align-items: flex-end;align-items: flex-end;-webkit-justify-content: space-between;justify-content: space-between;pointer-events: none;position: relative;z-index: 1;transition: transform 0.4s; }
.episode__text .list li a.is-active {z-index: 2; }
.episode__text .list li a.is-active .text {transform: translate(20px, 0); }
.episode__text .list li .item h5 {font-size: 34px;font-size: 3.4rem;line-height: 1.235;max-width: 440px;margin: 0 0 16px;letter-spacing: 0.029em;font-weight: 700; }
.episode__text .list li .item small {font-size: 12px;font-size: 1.2rem;font-weight: 500;line-height: 1.4; }
.episode__text .list li:last-of-type { border-bottom: 1px solid #D6D6D6; }
.episode__text.right {margin-left: auto; }
.episode03 {margin: 200px 0 0; }


#section4 .main-video {width:550px;position: relative;}
#section4 .control-box {width:80px;height:80px;position:absolute;z-index:2;top:40%;left:50%;margin-top:-40px;margin-left:-40px;border-radius:50%;overflow:hidden;transform:scale(1);transition:all .3s;}
#section4 .control-box:hover {transform:scale(1.1);}
#section4 .control-box a {display:block;width:100%;height:100%;background:url(../img/icon-player-pause.png) no-repeat 56% 50%;background-size:30px auto;text-indent:-1000px;overflow:hidden;transition:all .3s;}
#section4 .control-box:hover a {background-color:rgba(0,0,0, .6);}
#section4 .control-box.addPlay a {background-image:url(../img/icon-player-play.png)}
/* 리플레이 */
#section4 .replay-box {width:50px;height:50px;position:absolute;z-index:2;bottom:30%;right:0;text-align:center;line-height:40px;}
#section4 .replay-box a {display:inline-block;color:rgba(255,255,255,1);width:100%;height:100%;}
#section4 .replay-box a:active {color:rgba(255,255,255,.5);}
#section4 .replay-box a i {font-size:30px;}
/* xspeed */
#section4 .xspeed-box {width:100px;height:50px;position:absolute;z-index:2;bottom:32%;right:13%;text-align:center;line-height:50px;}
#section4 .xspeed-box select {width:100%;height:50px;color:#fff;font-size: 16px;font-weight: 500;padding-left:20px;background: rgba(0,0,0, 0);outline: 0;border: 0;}

#section4 .episode03 .inner2 .episode__text .list li a .btn {position: absolute;right: 43%;bottom: 2.5%;transform: translateY(-50%);border: 2px solid #000;width: 140px;height: 42px;background-color: white;border-radius: 4px;cursor: pointer;font-family: 'GmarketSansMedium';font-size: 14px;color: #000;letter-spacing: 0.025em;transition: .2s;}
#section4 .episode03 .inner2 .episode__text .list li a .btn:hover {border: 2px solid #fff;background-color: black;color: #fff;}