@charset "UTF-8";

#wrap #header {background:#000B22;padding:22px 45px;display: flex;align-items: center;}
#wrap #header .logo a img {width:200px;}
#wrap #header .nav {margin-left: auto;}
#wrap #header .nav ul {display: flex;}
#wrap #header .nav li {margin-right: 45px;}
#wrap #header .nav li a {color: #fff;font-size: 14px;letter-spacing: 2px;transition:all .6s;}
#wrap #header .nav li a:hover {border-bottom: 1px solid #fff;}
#wrap #header .link {display: flex;}
#wrap #header .link .btn {margin-right:22px;padding: 7.5px 30px 7.5px 22px;}
#wrap #header .link .btn.btn01 {color: #fff;font-size: 13px;padding: 10px 30px 10px 15px;border: solid 1px #fff;border-radius: 20px;position: relative;letter-spacing:2px;}
#wrap #header .link .btn::after {right:15px;}
#wrap #header .link .btn.btn01::after {content: "";position: absolute;background: url(../img/icon-star-white.svg)no-repeat;background-size:cover;width:10px;height:10px;right:7.5px;top:37%;}

#wrap #main {width:100%;}
#wrap #main #section1 .container {max-width: 1140px;margin: 0 auto;}
#wrap #main #section1 .container .content {padding: 100px 50px;margin-bottom: 100px;}
#wrap #main #section1 .container .content h2 {color: #000;margin-bottom: 50px;font-size: 24px;padding-bottom: 10px;border-bottom: 1px solid #000;}
#wrap #main #section1 .container .content h2 i {margin-right: 10px;font-size: 22px;line-height: 20px;}
#wrap #main #section1 .container .content .table-box-wrap {max-width: 800px;margin: 0 auto;}
#wrap #main #section1 .container .content .table-box {margin-bottom: 20px;}
#wrap #main #section1 .container .content .table-box table {width: 100%;background: #fff;border: 1px solid #D3D3D3;}
#wrap #main #section1 .container .content .table-box table tr {border-bottom: 1px solid #D3D3D3;}
#wrap #main #section1 .container .content .table-box table th {padding: 22px;background: #F4F4F4;width: 35%;border-right: solid 1px #D3D3D3;text-align: left;}
#wrap #main #section1 .container .content .table-box table th div {position: relative;}
#wrap #main #section1 .container .content .table-box table th div span {position: absolute;top: 5%;right: 0px; color:#fff;font-size: 10px;background:#000;padding:2px 6px;}
#wrap #main #section1 .container .content .table-box table td {padding: 22px;}

#wrap #main #section1 .container .content .form input[type="email"], 
#wrap #main #section1 .container .content .form input[type="password"]{width: 100%; border: solid 1px #cecece;padding: 10.5px 15px;font-size: 14px;}
#wrap #main #section1 .container .content .message-box-wrap {max-width: 700px;margin: 0 auto;}
#wrap #main #section1 .container .content .message-box {max-height: 300px;margin-top: 50px;padding:30px;background:#F4F4F4;overflow-y: scroll;}
#wrap #main #section1 .container .content .message-box p {font-size: 13px;line-height: 22px;}
#wrap #main #section1 .container .content .message-box h6 {margin-top: 15px;}
#wrap #main #section1 .container .content .message-box ul {padding-left: 20px; margin-top:7.5px;line-height: 120%;}
#wrap #main #section1 .container .content .checkbox-box {position: relative;display: flex;align-items: center;justify-content: center;margin-top: 30px;}
#wrap #main #section1 .container .content .form label {line-height: 15px; margin: 0;position: relative;padding-left: 20px;display: block;}
#wrap #main #section1 .container .content .form input[type="checkbox"] {border: 1px solid #CECECE;height: 15px; width: 15px; padding: 0;}
#wrap #main #section1 .container .content .form label input {position: absolute;top: 0;bottom: 0; left: 0;margin: auto;}
#wrap #main #section1 .container .content .checkbox-box-wrap .checkbox-box label span {position: relative;margin-left: 10px;color:#fff;font-size: 10px;background:#000;padding:2px 6px;}
#wrap #main #section1 .container .content .btn-box {display: flex;align-items: center;padding: 50px 0;flex-direction: column;}
#wrap #main #section1 .container .content .btn-box button {margin-bottom: 30px;cursor: pointer;background: #000;padding: 10.5px 37.5px 10.5px 30px;font-size: 16px;color: #fff;border-radius: 30px;text-align: center;position: relative;letter-spacing: 2px;}

#wrap #footer {padding:30px 0;background-color: #000B22;}

#wrap #footer small {text-align: center;color: #fff;font-size: 13px;display: block;letter-spacing: 1.5px;}