@charset "UTF-8";

#wrap #header {background:#000B22;padding:22px 45px;display: flex;align-items: center;}
#wrap #header .logo a img {width:200px;}
#wrap #header .nav {margin-left: auto;}
#wrap #header .nav ul {display: flex;}
#wrap #header .nav li {margin-right: 45px;}
#wrap #header .nav li a {color: #fff;font-size: 14px;letter-spacing: 2px;transition:all .6s;}
#wrap #header .nav li a:hover {border-bottom: 1px solid #fff;}
#wrap #header .link {display: flex;}
#wrap #header .link .btn {margin-right:22px;padding: 7.5px 30px 7.5px 22px;}
#wrap #header .link .btn.btn01 {color: #fff;font-size: 13px;padding: 10px 30px 10px 15px;border: solid 1px #fff;border-radius: 20px;position: relative;letter-spacing:2px;}
#wrap #header .link .btn::after {right:15px;}
#wrap #header .link .btn.btn01::after {content: "";position: absolute;background: url(../img/icon-star-white.svg)no-repeat;background-size:cover;width:10px;height:10px;right:7.5px;top:37%;}

#wrap #main   {z-index:1;width:100%;height:auto;position:relative;}
#wrap #main #section01 {width:100%;height:auto;color:#fff;font-size:40px;text-align:center;background:#f9f9f9;padding:130px 0;}
#wrap #main #section01 .wrap {width:100%;}
#wrap #main #section01 .wrap .gap {margin:0;}
#wrap #main #section01 .wrap .gap .container {position:relative;width:100%;height:100%;padding: 0 50px;}
#wrap #main #section01 .wrap .gap .container .content {width:100%;max-width:1100px;margin:0 auto;}
#wrap #main #section01 .wrap .gap .container .content .button-box {width:100%;padding:100px 0 0 0;text-align:right;}
#wrap #main #section01 .wrap .gap .container .content .button-box button {width:200px;height:50px;text-align:center;background:#000;color:#fff;cursor:pointer;transition:all .3s;}
#wrap #main #section01 .wrap .gap .container .content .button-box button:hover {background:#c33;color:#fff;}
#wrap #main #section01 .wrap .gap .container .content .board {width:100%;text-align:center;}
#wrap #main #section01 .wrap .gap .container .content .board caption  {color:#000;font-size:30px;padding:50px 0;}
#wrap #main #section01 .wrap .gap .container .content .board th  {border-top:1px solid #555;border-bottom:1px solid #555;height:50px;background:#f4f4f4;font-size:15px;color:#333;}
#wrap #main #section01 .wrap .gap .container .content .board th:nth-child(1) {width:80px;}
#wrap #main #section01 .wrap .gap .container .content .board th:nth-child(2) {width:auto;}
#wrap #main #section01 .wrap .gap .container .content .board th:nth-child(3) {width:120px;}
#wrap #main #section01 .wrap .gap .container .content .board th:nth-child(4) {width:100px;}
#wrap #main #section01 .wrap .gap .container .content .board td  {border-bottom:1px solid #ddd;height:60px;font-size:14px;color:#555;}
#wrap #main #section01 .wrap .gap .container .content .board td:nth-child(2) {text-align:left;text-indent:20px;}
#wrap #main #section01 .wrap .gap .container .content .board tr:hover  {background:#f5f5f5;}

/* 페이지네이션 */
#wrap #main #section01 .wrap .gap .container .content #pageNation {position:relative;text-align:center;padding:70px 0;}
#wrap #main #section01 .wrap .gap .container .content #pageNation > div {display:inline-block;width:100px;height:34px;}
#wrap #main #section01 .wrap .gap .container .content #pageNation > div > a {display:inline-block;margin-right: 10px;}
#wrap #main #section01 .wrap .gap .container .content #pageNation > div > a i {font-size:15px;}

/* 페이지 번호 버튼 */
#wrap #main #section01 .wrap .gap .container .content #pageNation .page-number-box {margin:0 13px;display:inlie-block;width:auto;height:34px;position:relative;top:4px;}
#wrap #main #section01 .wrap .gap .container .content #pageNation .page-number-box ul {height:34px;}
#wrap #main #section01 .wrap .gap .container .content #pageNation .page-number-box ul li {width:33px;height:32px;display:inline-block;border:1px solid #ddd;line-height:34px;margin:0 1px;}
#wrap #main #section01 .wrap .gap .container .content #pageNation .page-number-box ul li:hover {border:1px solid #000B22;}
#wrap #main #section01 .wrap .gap .container .content #pageNation .page-number-box ul li a {display:block;width:100%;height:100%;color:#777;background:#fff;font-size:13px;}
#wrap #main #section01 .wrap .gap .container .content #pageNation .page-number-box ul li a:hover {color:#fff;background:#000B22;}
#wrap #main #section01 .wrap .gap .container .content #pageNation .page-number-box ul li a.addPage {color:#fff;background:#000B22;}

#wrap #main #section2 {position: relative;width: 100%;padding: 150px 190px 0;}
#wrap #main #section2 .content {padding: 0 135px;}
#wrap #main #section2 .ListHeader {display: flex;justify-content: space-between;margin: 0 0 90px;}
#wrap #main #section2 .Select {display: flex;justify-content: center;}
#wrap #main #section2 .Item {display: flex;align-items: center;z-index: 2;}
#wrap #main #section2 .Category::before {content: "";z-index: 1;position: absolute;right:22px;top: 50%;width: 10px;height: 10px;border-top: 1px solid #D3D3D3;border-right: 1px solid #D3D3D3;}
#wrap #main #section2 .ItemBody {border: 1px solid #D3D3D3;font-size:20px;appearance: none;height:60px;width:240px;padding: 12px 52px 12px 18px;color: #000;cursor: pointer;}
#wrap #main #section2 .ItemBody option {background-color: #fff;color: #000;}
#wrap #main #section2 .SelectArchive {margin: 0 0 0 30px;}
#wrap #main #section2 .SelectArchive, .Category {position: relative;}
#wrap #main #section2 .SelectArchive::before, .Category::before {content: "";z-index: 1;position: absolute;right:22px;top: 50%;width: 10px;height: 10px;border-top: 1px solid #D3D3D3;border-right: 1px solid #D3D3D3;transform: translateY(-70%) rotate(135deg);}
#wrap #main #section2 li {margin: 0 0 75px;}
#wrap #main #section2 li a {padding: 0 120px 0 0;position: relative;display: flex;align-items: center;}
#wrap #main #section2 li a:hover::before {opacity: 1;}
#wrap #main #section2 li a::before {content: "";position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);height: 130%;width: 108%;z-index: -1;border-radius:22px;box-shadow: 0 0 45px rgba(0,0,0,0.08);opacity: 0;transition: opacity 0.4s;}

#wrap #main #section2 .ListPhoto {overflow: hidden;width: 18.46153vw;}
#wrap #main #section2 .ListPhoto img {width: 100%;}
#wrap #main #section2 .ListText {width: 33.84615vw;margin: 0 0 0 60px;}
#wrap #main #section2 .ListText h3 {margin: 0 0 45px;line-height:120%;}
#wrap #main #section2 .Meta {display: flex;align-items: center;color: #959595;}
#wrap #main #section2 .Date {margin: 0 15px 0 0;}
#wrap #main #section2 p {letter-spacing: 3px;line-height: 120%;}
#wrap #main #section2 .MetaCategory {display: flex;}
#wrap #main #section2 .MetaCategory span:first-of-type {margin: 0;}
#wrap #main #section2 .MetaCategory span {margin: 0 0 0 15px;}
#wrap #main #section2 .More span {display: block;background: #575757;height: 0.4rem;width: 0.4rem;border-radius: 50%;margin: 0 3px;}
#wrap #main #section2 .More {display: flex;justify-content: center;align-items: center;position: absolute;right: 0;top: 50%;transform: translateY(-50%);border: 1px solid #D3D3D3;height: 4rem;width: 4rem;border-radius: 50%;padding: 0 16.5px;}
#wrap #main #section2 .More::before, .More::after {content: "";display: block;background: #575757;height: 0.4rem;width: 0.4rem;border-radius: 50%;}

#footer {padding:30px 0;background-color: #000B22;}
#footer small {text-align: center;color: #fff;font-size: 13px;display: block;letter-spacing: 1.5px;}